<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Perumahan Legenda</title>
  <link rel="stylesheet" href="halamanpengajuan.css">


</head>
<body>
  <aside>
    <div>
      <div class="logo">
        <div class="logo-circle"></div>
      </div>
      <ul>
        <li><img src="logo1.png" alt="">Data Warga</li>
        <li><img src="logo2.png" alt="">Dokumen Administrasi</li>
        <li><img src="logo3.png" alt="">Validasi</li>
        <li><img src="logo4.png" alt="">Riwayat Administrasi</li>
      </ul>
    </div>
    <div class="footer">
      <p>SIWa 4.0</p><br><br>
      <p>Copyright 2025,<br>All rights reserved</p>
    </div>
  </aside>

  <main>
    <header>
      <div class="header-left">
        <img src="logo.png" alt="Logo">
        <h1>Perumahan Legenda</h1>
      </div>
    </header>

    <div>
      <h2>Pengajuan Dokumen Administrasi</h2>
      <br>
      <h3>a. Surat Pengantar RT/RW</h3>
    </div>

    <form>
      <div class="form-row">
        <div class="form-group">
          <label>1. Nama:</label>
          <input type="text" name="nama">
        </div>
        <div class="form-group">
          <label>2. Tanggal:</label>
          <input type="date" name="tanggal">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>3. Fotocopy KTP:</label>
          <input type="file" name="ktp">
        </div>
        <div class="form-group">
          <label>4. Fotocopy KK:</label>
          <input type="file" name="kk">
        </div>
      </div>

      <div class="button-box">
        <button type="button" class="btn-cancel">Cancel</button>
        <button type="submit" class="btn-submit">Submit</button>
      </div>
    </form>
  </main>
</body>
</html>