<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="logos.png" alt="Your Logo">
            </div>
            <div class="judul">
                <p></p>
            </div>
           
              <div class="dropdown">
                <button class="dropbtn" onclick="home()">Home 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
              
              <div class="topnav">     
                <a style="color: white;" href="index.html">Home</a>
                    <a style="color: white;" href="login.html">Login</a>
                    <a style="color: white;" href="kontak.html">Contacts</a>
                    <a style="color: white;" href="profil.html">About us</a>
                    <div class="subnav">
                    <a style="color: white;" href="toko.html">Books</a>
                    <div class="subnav-content">
                      <div class="genre">
                      <h1>Genre</h1>
                    </div>
                      <a href="genre fantasy.html">Fantasy</a>
                      <a href="genre mistery.html">Mystery</a>
                      <a href="genre romance.html">Romance</a>
                      <a href="genre nonfiksi.html">Nonfiksi</a>
                      <a href="genre horror.html">Horror</a>
      
                      
                    </div>
            
                    
                  </div>
                  </div> 
                </div>
            </div>
          
            
           
            
        </div>
    </header>
    <div class="container">
        
        <div class="content">
            <h2>Heroes <br />book</h2>
            <div class="text-container">
                <p1>
                  Selamat datang di Heroes Book, toko buku terlengkap di Batam yang memanjakan para pecinta literatur dengan koleksi yang kaya dan beragam. Sebagai destinasi utama bagi pencinta buku, Heroes Book menghadirkan pengalaman berbelanja yang tak tertandingi, menjadikan setiap kunjungan Anda sebagai petualangan literer yang memikat.
                </p1>
            </div>
            <form action="toko.html">
                <button type="submit" class="lihat-btn" onclick="buku()">Lihat Buku</button>
            </form>
            <form action="prosedur.html">
              <button type="submit" class="lihat-btn" onclick="buku()">Cara Penggunaan</button>
          </form>
        </div>
        <img src="3-removebg-preview.png" alt="" class="aligned-image">
    </div>
    <footer>
        <p3>&copy; 2023 Toko Buku Online. Hak Cipta Dilindungi.</p3>
    </footer>
</body>
</html>
