<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contacs.css">
    <title>Terima Kasih</title>
</head>
<body>

    <div class="container">
        <div class="thanks-message">
            <h1>Terima Kasih!</h1>
            <p>"Pesan Anda telah berhasil dikirimkan. Kami akan segera merespons."</p>
            <a href="kontak.html">kembali</a>
        </div>
    </div>

</body>
</html>
