body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url(5172658.jpg);
}

.reset-password-container {
    background-image: url("mentahan/pp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background-color: #ffffff; /* Menambahkan latar belakang putih di atas gambar */
    opacity: 0.9; /* Mengurangi kejelasan gambar latar belakang */
}

h2 {
    text-align: center;
}

.form-group {
    margin: 15px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.reset-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #2980b9;
}