<!DOCTYPE html>
<html>
<head>
    <title>Lupa Password</title>
    <link rel="stylesheet" href="lupa_password.css">
</head>
<body>
    <div class="reset-password-container">
        <h2>Lupa Password</h2>
        <form action="login.html" method="post">
            <div class="form-group">
                <label for="email">Alamat Email</label>
                <input type="email" id="email" name="email" placeholder="Masukkan Alamat Email" required>
            </div>
            <div class="form-group">
                <input type="submit" class="reset-button" value="Reset Password">
                <a href="login.html" style="text-align: center; display: block; margin-top: 10px;">Kembali ke halaman login</a>
            </div>
        </form>
    </div>
</body>
</html>
