<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Form Pendaftaran Akun</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="logos.png" alt="Your Logo">
            </div>
            <div class="judul">
                <p>HEROES BOOK</p>
            </div>
           
              <div class="dropdown">
                <button class="dropbtn" onclick="home()">Home 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
              
              <div class="topnav">     
                <a style="color: white;" href="index.html">Home</a>
                    <a style="color: white;" href="login.html">Login</a>
                    <a style="color: white;" href="kontak.html">Contacts</a>
                    <a style="color: white;" href="profil.html">About us</a>
                    <div class="subnav">
                    <a style="color: white;" href="toko.html">Books</a>
                    <div class="subnav-content">
                      <div class="genre">
                      <h1>Genre</h1>
                    </div>
                      <a href="genre fantasy.html">Fantasy</a>
                      <a href="genre mistery.html">Mystery</a>
                      <a href="genre romance.html">Romance</a>
                      <a href="genre nonfiksi.html">Nonfiksi</a>
                      <a href="genre horror.html">Horror</a>
      
                      
                    </div>
            
                    
                  </div>
                  </div> 
                </div>
            </div>
          
            
           
            
        </div>
    </header><br>
    <div class="container">
        <div class="form-container">
            <h2>Form Pendaftaran Akun</h2>
            <form action="login.html" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <input type="submit" value="Daftar">
                <a href="login.html">Kembali ke halaman login</a>
            </form>
        </div>
    </div><br>
    <footer>
        <p3>&copy; 2023 Toko Buku Online. Hak Cipta Dilindungi.</p3>
    </footer>
</body>
</html>
