<!DOCTYPE html>
<html>
<head>
<style>
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  margin-left: 400px;
}


</style>
</head>
<body>

<h2>Demonstrating the Box Model</h2>

<p>The CSS box model is essentially a box that wraps around every HTML element. It consists of: borders, padding, margins, and the actual content.</p>

<div>tony stark waktu masih kecil orangtuanya dibunuh.saat dia besar dia menjadi pengusaha sukses dan menghasilkan banyak senjata.tetapi saat dia sadar senjatanya digunakan banyak orang untuk kejahatan .dia memutuskan menjadi superhero bernama iron man</div>

</body>
</html>



