<!DOCTYPE html>
<html>
<head>
<style>
div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
</style>
</head>
<body>

<h2>Calculate the total width:</h2>

<img src="download.jfif" width="350" height="263" alt="Klematis">
<div>tony stark waktu masih kecil orangtuanya dibunuh.saat dia besar dia menjadi pengusaha sukses dan menghasilkan banyak senjata.tetapi saat dia sadar senjatanya digunakan banyak orang untuk kejahatan .dia memutuskan menjadi superhero bernama iron man.</div>

</body>
</html>


