<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
<style>
    
    .btn button{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       background-color: aqua;
       color: black;
       padding: 10px 60px;
            border-radius: 4px;
            cursor: pointer;
           
       }
       .btn  :hover{
        background-color: red;
        color: white;
       }
      
       
</style>
</head>
<body>
    <head>
        <title>Dialog Confirm</title>
    </head>
    <body>
        
    <script>
        
    var nama = prompt("Siapa nama kamu?", "");
    if(nama){
        document.write("<p>Hello "+ nama +"</p>");
    }
    
    else{
        document.write( "kasih tau lah"+"<br>")
    }
    function yakin(){
        confirm("Apakah kamu yakin akan mengunjungi youtube?");

        if(yakin){
            window.location = "https://www.youtube.com";
            alert("terimakasih sudah berkunjung");
        }
        else{
            document.write("Baiklah, tetap di sini saja ya :)");
        }
    }
    </script>
    <div class="btn">
    <button onclick="yakin()">Pergi ke youtube</button>
</div>
    </body>
</html>
</div>
</body>
</html>