<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Data Kategori</title>

    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="{{ url_for('index') }}" class="brand">
        <i class="bx bxs-wallet"></i>
        <span class="text">KeuanganApp</span>
      </a>

      <ul class="side-menu top">
        <li class="{% if active == 'dashboard' %}active{% endif %}">
          <a href="{{ url_for('index') }}">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>

        <li class="{% if active == 'transaksi' %}active{% endif %}">
          <a href="{{ url_for('data_transaksi') }}">
            <i class="bx bxs-credit-card"></i>
            <span class="text">Transaksi</span>
          </a>
        </li>

        <li class="{% if active == 'kategori' %}active{% endif %}">
          <a href="{{ url_for('data_kategori') }}">
            <i class="bx bxs-category"></i>
            <span class="text">Kategori</span>
          </a>
        </li>

        <li class="{% if active == 'anggaran' %}active{% endif %}">
          <a href="{{ url_for('data_anggaran') }}">
            <i class="bx bxs-wallet-alt"></i>
            <span class="text">Anggaran</span>
          </a>
        </li>
      </ul>

      <ul class="side-menu">
        <li>
          <a href="#">
            <i class="bx bxs-cog"></i>
            <span class="text">Settings</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('logout')}}" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Dashboard Keuangan</a>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Kategori</h1>
            <ul class="breadcrumb">
              <li>
                <a href="{{ url_for('index')}}">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Kategori</a>
              </li>
            </ul>
          </div>

          <!-- TOMBOL TAMBAH -->
          <a href="{{ url_for('tambah_kategori') }}" class="btn-download">
            <i class="bx bx-plus"></i>
            <span class="text">Tambah Kategori</span>
          </a>
        </div>

        <div class="table-data">
          <div class="order">
            <table>
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Kategori</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for k in kategori %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ k[1] }}</td>
                   <td>
                    <a
                      href="{{ url_for('edit_kategori', id=k[0]) }}"
                      class="status process"
                      >Edit</a
                    >

                    <a
                      href="{{ url_for('delete_kategori', id=k[0]) }}"
                      class="status pending"
                      onclick="return confirm('Hapus transaksi ini?')"
                    >
                      Hapus
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
